body {
  color: #fff;
  background-color: #C6CEFA;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-weight: bold;
  font-size: 200px;
  line-height: 180px;
  letter-spacing: -5px;
  text-align: center;
  text-shadow: #444 3px 3px 3px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
