body {
  color: #fff;
  background-color: #C6CEFA;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-weight: bold;
  font-size: 10vw;
  line-height: 100%;
  letter-spacing: -5px;
  text-align: center;
  text-shadow: #444 3px 3px 3px;
}

.center {
  position: relative;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}
